<p id="notice"><%= notice %></p>

<h1>Listing Discount Items</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Discount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discount_items.each do |discount_item| %>
      <tr>
        <td><%= discount_item.product.title %></td>
        <td><%= discount_item.discount %></td>
        <td><%= link_to 'Show', discount_item %></td>
        <td><%= link_to 'Edit', edit_discount_item_path(discount_item) %></td>
        <td><%= link_to 'Destroy', discount_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discount item', new_discount_item_path %>
