<%= form_for(@administrator) do |f| %>
  <% if @administrator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrator.errors.count, "error") %> prohibited this administrator from being saved:</h2>

      <ul>
      <% @administrator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input">
    <%= f.label :User %>
    <%= f.select :user_id, User.all.collect { |c| [ c.email, c.id ] } %>
  </div>
  <div class="input">
    <%= f.select :ability, [["Модератор"], ["Администратор"], ["Пользователь"]] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
