<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text"><%=link_to "Book store", root_path %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">

      <% if @current_user.id == nil %>
        <li>
          <%= link_to "Регистрация", signup_path %>
        </li>
        <li>
          <a href="login">Вход</a>
        </li>
      <% elsif @current_user.id != nil %>
          <% if @current_user.admin? %>
              <li>
                <%= link_to (image_tag "circle.svg"), new_product_path %>
              </li>
          <%end %>
        <li>
          <%= link_to "Личный кабинет", @current_user %>
        </li>
        <li>
          <%= link_to "Выход", session_path(session[:user_id]), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>