<h1>List of Products</h1>
<%= flash[:notice] %>
<table>
  <thead>


    <td>
      Title
    </td>
    <td>
      Description
    </td>
    <td>Price</td>
    <td>IMG URL</td>
    <td>Category</td>
    </thead>
<% for product in @products %>
<tbody>
<tr>
  <td>
    <div class="item"><%= product.title %></div>
  </td>
  <td>
    <div class="item"><%= product.description %></div>
  </td>
  <td>
    <div class="item"><%= product.price %></div>
  </td>
  <td>
    <div class="item"><%= image_tag "#{product.img_url}" %></div>
  </td>
  <td>
    <div class="item"><%= product.category.name %></div>
  </td>
  <td>
    <%= link_to "Edit", edit_product_path(product.id) %>
  </td>
  <td><%= link_to "Delete", product, method: :delete,
                            data: { confirm: "Are you sure?"}  %></td>
</tr>
<%end %>
</tbody>
</table>
<%= link_to "New Product", new_product_path %>
