<h1>List of Products</h1>
<%= flash[:notice] %>
<table>
    <th>
      Title
    </th>
    <th>
      Description
    </th>
    <th>Price</th>
    <th>IMG URL</th>
<% for product in @products %>
<tr>
  <td>
    <div class="item"><%= product.title %></div>
  </td>
  <td>
    <div class="item"><%= product.description %></div>
  </td>
  <td>
    <div class="item"><%= product.price %></div>
  </td>
  <td>
    <div class="item"><%= image_tag "#{product.img_url}" %></div>
  </td>
  <td>
    <%= link_to "Edit", edit_product_path(product.id) %>
  </td>
</tr>
<%end %>
</table>
<%= link_to "New Product", new_product_path %>
